:root {
  --project-popup-padding: 4px;
}

.obsidian-taskcard {
  background-color: var(--background-primary) !important;
  color: var(--text-normal);
  font-size: var(--font-text-size);
  font-family: var(--font-text);
  line-height: var(--line-height-normal);
  border-radius: var(--radius-l);
  border: var(--border-width) solid var(--background-modifier-border);
  height: var(--input-height);
  margin: 1px 0;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  white-space: normal;
  outline: none;
  align-items:flex-start;
  box-shadow: 0px 0px 5px var(--color-base-25);
  text-align: inherit; /* Aligns text as in a regular div */
  width: 100%;
  height: 100%;
  margin-inline-start: calc( -1 * var(--list-indent));
}

.obsidian-taskcard.mode-single-line {
  cursor: var(--cursor-link);
  padding: 0.25em 0.5em 0.25em 0.48em;
}

.obsidian-taskcard.mode-single-line:hover {
  background-color: var(--background-modifier-hover);
}

.obsidian-taskcard.mode-single-line:active {
  background-color: var(--background-modifier-active-hover);
}

.obsidian-taskcard.mode-multi-line{
  padding: 0.25em 0.5em 0.25em 0.48em;
}

.task-card-single-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Align the two main containers */
  width: 100%;
}

.task-card-single-line-left-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically center the checkbox and content */
  flex-grow: 1; /* Take up all available space */
}

.task-card-single-line-right-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically center the children */
}

.task-card-content {
    border-radius: var(--radius-s); /* Rounded square */
    cursor: pointer; /* Pointer cursor on hover */
    flex-grow: 0.98;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: var(--font-text-size);
}

.task-card-content:hover {
    background-color: var(--background-modifier-hover); /* Background hover color */
}

.task-card-content:active {
    background-color: var(--background-modifier-active-hover); /* Background active color */
}

input.task-card-content.mode-multi-line {
  border:  var(--input-border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-s);
  font-size: var(--font-text-size);
  font-weight: var(--input-font-weight);
  outline: none; /* Remove default focus outline */
  box-shadow: none; /* Remove default box-shadow */
}

input.task-card-content.mode-multi-line :hover {
  border-color: var(--background-modifier-border-hover); /* Border color on hover */
}

input.task-card-content.mode-multi-line :focus {
  border-color: var(--background-modifier-border-focus); /* Border color on focus */
  box-shadow: 0 0 5px var(--background-modifier-border-focus); /* Subtle shadow on focus */
}

.task-card-major-block {
  display: grid;
  grid-template-columns: auto 1fr; /* Checkbox takes only the space it needs, rest for content and description */
  grid-template-rows: auto auto; /* Two rows for content and description */
  width: 100%;
  align-items: center;
}

.task-card-checkbox-wrapper {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.task-card-content-project-line {
  position: relative;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap to the next line */
  justify-content: space-between; /* Aligns content left, project right */
  align-items: center; /* Centers items vertically */
}

.task-card-description {
    grid-column: 2;
    grid-row: 2;
    font-size: var(--font-ui-small);
    color: var(--color-base-50);
    border-radius: 5px; /* Rounded square */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 0.1em; /* Padding for the content */
    padding: 0.25em; /* Padding for the content */
}

.task-card-description:hover {
    background-color: var(--background-modifier-hover); /* Background hover color */
}

.task-card-description:active {
    background-color: var(--background-modifier-active-hover); /* Background active color */
}

.task-card-description textarea {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    border-radius: 5px; /* Rounded square */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    padding: 8px; /* Padding for the content */
}

.task-card-description textarea:hover {
    background-color: var(--background-modifier-hover); /* Background hover color */
}

.task-card-description textarea:active {
    background-color: var(--background-modifier-active-hover); /* Background active color */
}


.task-card-menu-button.mode-multi-line {
  grid-column: 3;
  grid-row: 1;
}

.task-card-checkbox {
  border: var(--border-width) solid;
}

/* Apply color to checkbox based on priority */
.task-card-checkbox.priority-1 {
  border-color: var(--color-red);
}
.task-card-checkbox.priority-2 {
  border-color: var(--color-orange);
}
.task-card-checkbox.priority-3 {
  border-color: var(--color-yellow);
}

.task-card-attribute-bottom-bar {
  display: flex; /* Use Flexbox layout */
  align-items: center; /* Center children vertically */
  justify-content: space-between; /* Align the first 3 elements to the left and the button to the right */
  width: 100%;
  flex-direction: row; /* Not necessary, as 'row' is the default value, but can be included for clarity */
}

.task-card-attribute-bottom-bar-left {
  display: flex; /* Enables Flexbox for the left-aligned elements */
  align-items: center;
  overflow: hidden; /* Hide the overflow */
  flex-grow: 1; /* Takes up remaining left space */
}

.task-card-attribute-bottom-bar-right {
  display: flex;
  align-items: center;
  margin-left: calc(0.1 * var(--list-indent));
}

.task-card-attribute-separator {
  flex-shrink: 0; /* Prevents shrinking */
  margin: 0 4px;
  color: var(--color-base-50);
}

.task-card-labels {
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping */
  overflow: scroll; /* Truncates any labels that don't fit */
  white-space: nowrap; /* Keeps labels on a single line */
  align-items: center;
  gap: 4px;
  flex-grow: 1; /* Make it take up all available space */
  font-size: var(--font-ui-medium)
}

.task-card-labels a {
  text-decoration: none;
  flex-shrink: 0;
}

.task-card-labels button:hover {
  background-color: var(--background-modifier-hover); /* Change the background color on hover */
}

.more-labels-symbol {
  display: inline-block;
}

input.task-card-label-input {
  display: inline-block;
  padding: 1px 10px;
  border-radius: 1000px; /* Rounded corners */
  border: var(--border-width) solid var(--background-modifier-border);
  width: auto;
  font-size: var(--font-ui-small);
  white-space: nowrap;
}

input.task-card-label-input:focus {
  outline: none; /* Remove the default outline */
  box-shadow: none; /* Remove the default box-shadow */
  border: calc(0.75 * var(--border-width)) solid var(--background-modifier-border); /* Add a custom border */
}

.task-card-due {
  display: inline-block;
  padding: 1px 10px;
  border-radius: 1000px; /* Rounded corners */
  border: var(--border-width) solid var(--background-modifier-border);
  width: auto;
  font-size: var(--font-ui-small);
  white-space: nowrap;
}

/* This selector ensures that the cursor only changes to a hand pointer when the div is not empty */
.task-card-due:not(:empty):hover {
  background-color: var(--background-modifier-hover);
  cursor: pointer;
}

input.task-card-due {
  border-radius: 1000px; /* Rounded corners */
  width: auto;
  text-align: center;
}

/* Customize the focus styles */
input.task-card-due:focus {
  outline: none; /* Remove the default outline */
  box-shadow: none; /* Remove the default box-shadow */
  border: calc(0.75 * var(--border-width)) solid var(--background-modifier-border); /* Add a custom border */
}

.task-card-icon {
  align-self: center;
  width: var(--icon-xs);
  height: var(--icon-xs);
}

.task-card-round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: calc(var(--icon-xs) + 10px);
  height: calc(var(--icon-xs) + 10px);
  border-radius: 50%;
  overflow: hidden; /* Hide overflow */
  min-width: calc(var(--icon-xs) + 10px); /* Set minimum width */
  min-height: calc(var(--icon-xs) + 10px); /* Set minimum height */
  flex-shrink: 0; /* Prevent shrinking */
  background-color: var(--interactive-normal);
}

.task-card-round-button:hover {
  background-color: var(--background-modifier-hover);
}

.task-card-round-button:active {
  background-color: var(--background-modifier-active-hover);
}

.task-card-menu-button {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    cursor: pointer;
    padding: 0 0.25em !important;
    margin: 0 0.20em !important;
  }

  .task-card-menu-button:hover {
    background: none !important;
    box-shadow: none !important;
  }

  .task-card-menu-button:hover svg {
    color: var(--icon-color-hover);
  }

  .task-card-menu-button:active {
    background: none !important;
    box-shadow: none !important;
  }

  .task-card-menu-button:active svg {
    color: var(--icon-color-active);
  }