:root {
  --task-card-priority-color: #ff4500;
  --task-card-description-color: #808080;
  --task-card-order-color: #2e8b57;
  --task-card-section-id-color: #8b4513;
  --task-card-completed-color: #008000;
  --task-card-due-color: #ff0000;
  --task-card-file-path-color: #000000;
}

.obsidian-taskcard {
  background-color: #3b3838;
  border-radius: 10px;
  padding: 10px 10px 10px 15px; /* top, right, bottom, left */
  margin: 5px 0;
  box-shadow: 0 0 5px rgba(4, 4, 4, 0.817);
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: Arial, sans-serif;
  white-space: normal;
  position: relative;
}

.task-card-first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-card-project {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.75em;
}

.task-card-project a {
  text-decoration: none;
}

.task-card-priority::before {
  content: '🔢 ';
}

.task-card-description {
  color: var(--task-card-description-color);
  font-size: 0.8em;
  display: inline;
  margin-left: 30px;
}

/* .task-card-order::before {
  content: '📅 ';
  color: var(--task-card-order-color);
} */

.task-card-section-id::before {
  content: '📑 ';
  color: var(--task-card-section-id-color);
}

.task-card-due::before {
  content: '⏰ ';
  color: var(--task-card-due-color);
}

.task-card-file-path {
  color: var(--task-card-file-path-color);
}

.task-card-checkbox {
  border: 1.5px solid;
}

/* Apply color to checkbox based on priority */
.task-card-checkbox.priority1 { border-color: #ff0000; }
.task-card-checkbox.priority2 { border-color: #ffa500; }
.task-card-checkbox.priority3 { border-color: #ffff00; }
.task-card-checkbox.priority4 { border-color: #008000; }

.task-card-content {
  display: flex;
  align-items: center;
  gap: 3px;
}

.task-card-labels a {
  text-decoration: none;
}