:root {
  --task-card-file-path-color: #000000;
}


.obsidian-taskcard {
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 10px 10px 10px 15px; /* top, right, bottom, left */
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: Arial, sans-serif;
  white-space: normal;
  position: relative;
  align-items: flex-start;
  box-shadow: 0px 0px 20px var(--color-base-25);
}

.task-card-major-block {
  display: grid;
  grid-template-columns: auto 1fr; /* Checkbox takes only the space it needs, rest for content and description */
  grid-template-rows: auto auto; /* Two rows for content and description */
  width: 100%;
}

.task-card-checkbox-wrapper {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.task-card-content-project-line {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap to the next line */
  justify-content: space-between; /* Aligns content left, project right */
  align-items: center; /* Centers items vertically */
}

.task-card-content {
  flex-grow: 1; /* Takes all available space except what project needs */
  white-space: pre-wrap; /* Allows content to wrap within its container */
}

.task-card-project {
  flex-shrink: 0; /* Ensures that the project won't shrink */
  white-space: nowrap; /* Ensures that the project text won't wrap */
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.task-card-description {
  grid-column: 2;
  grid-row: 2;
  font-size: 0.8em;
  color: var(--color-base-50);
}

.project-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.task-card-checkbox {
  border: 1.5px solid;
}

/* Apply color to checkbox based on priority */
.task-card-checkbox.priority1 {
  border-color: #EE3939;
}
.task-card-checkbox.priority2 {
  border-color: #FFB300;
}
.task-card-checkbox.priority3 {
  border-color: #36A41D;
}

.task-card-labels a {
  text-decoration: none;
}

.task-card-due {
  display: inline-block;
  padding: 1px 10px;
  border-radius: 15px;
  border: 0.75px solid gray;
  width: auto;
  font-size: 0.8em;
  font-family: 'Arial Light', sans-serif;
  font-weight: lighter;
  white-space: nowrap;
}

.task-card-due-labels {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.task-card-due-labels-separator {
  margin: 0 4px;
  color: var(--task-card-description-color);
}
